#burger {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

#closed-burger-menu-list {
  display: none;
}

#burger-span span {
  height: 3px;
  width: 30px;
  margin-bottom: 5px;
  display: block;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px rgb(141, 141, 141);
}

@media only screen and (min-width: 767px) {
  #burger {
    display: none;
  }
  #burger-menu {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #desk-ul {
    display: none;
    justify-content: flex-end;
    background-color: white;
    border: 5px solid black;
  }
}
