$masterBackground: rgb(196, 222, 234);
$masterTextColor: white;
$masterTextShadow: 2px 2px 2px black;

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
  }
  width: 100vw;
}

.team-card {
  box-shadow: $masterTextShadow;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid white;
  background-color: rgb(163, 163, 163);
  width: 90vw;
  border-radius: 10px;
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }
  // p {
  //   text-shadow: none;
  //   line-height: 1.3rem;
  //   // font-size: 20px;
  //   padding-top: 5px;
  //   color: black;
  //   border-radius: 10px;
  //   margin: 40px 40px;
  //   font-weight: 600;
  // }
  p {
    font-size: 20px;
    line-height: 1.5rem;
    font-weight: 600;
    text-shadow: 1px 1px 1px black;
    // text-shadow: none;
    // color: black;
      border-radius: 10px;
      margin: 40px 40px;
      font-weight: 600;
  }
  img {
    border: 3px solid white;
    box-shadow: $masterTextShadow;
    width: 250px;
    border-radius: 10px;
  }
}
