$masterBackground: rgb(196, 222, 234);
$masterTextColor: white;
$masterTextShadow: 2px 2px 2px black;

@mixin button-mixin {
  width: 90px;
  height: 40px;
  margin: 10px;
  border: 2px solid white;
  background-color: rgb(163, 163, 163);
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  text-shadow: $masterTextShadow;
}

#profile-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    font-size: 40px;
  }
  h2 {
    margin-bottom: -30px;
    font-size: 20px;
    text-shadow: 2px 2px 1px black;
  }

  .button {
    width: 120px;
    height: 40px;
    margin: 10px;
    border: 2px solid white;
    background-color: rgb(163, 163, 163);
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    text-shadow: $masterTextShadow;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
