$masterBackground: rgb(196, 222, 234);
$masterTextColor: white;
$masterTextShadow: 2px 2px 2px black;

#profile-wrapper {
  width: 300px;
  h1 {
    margin-bottom: 5px;
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }
}
