// Color Palette

$masterBackground: rgb(196, 222, 234);
$masterTextColor: white;
$masterTextShadow: 2px 2px 2px black;

.dashboard-wrapper {
  h2 {
    font-size: 45px;
    margin-bottom: -25px;
    margin-top: 5px;
  }
  h3 {
    font-size: 25px;
  }

  .dash-sub {
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 15px;
  }
}
