$masterBackground: rgb(196, 222, 234);
$masterTextColor: white;
$masterTextShadow: 2px 2px 2px black;

@mixin button-mixin {
  width: 90px;
  height: 40px;
  margin: 10px;
  border: 2px solid white;
  background-color: lightgray;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  text-shadow: $masterTextShadow;
}

#login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 40px;
  }
  h3 {
    margin-bottom: 30px;
    font-size: 20px;
    text-shadow: 2px 2px 1px red;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  label {
    margin-top: -25px;
    font-size: 20px;
    font-weight: 600;
  }
  button {
    @include button-mixin();
  }
  input {
    width: 200px;
    height: 40px;
    margin-top: 10px;
    font-size: 25px;
    font-family: Helvetica, sans-serif;
  }
}
